html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  background-color: #1c5d76;
  margin-top: 0;
  border-color: #1c5d76;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}

.header-h2 {
  color: red;
}

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-top-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-top: 0;
  position: relative;
}


.pizza-button.md-button {
  margin-top: -13%;
  width: 115px;
  display: block;
  margin-left: 46%;
  position: absolute;
}

.md-button {
    position: absolute;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    min-width: 64px;
    height: 36px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    background-color: #1c5d76;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
      -apple-system;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }
  
  .md-button:hover,
  .md-button:focus {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  
  .md-button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .md-button:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
  }
  
  .md-button::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .md-button:hover::before {
    opacity: 0.12;
  }
  
  .md-button:focus::before {
    opacity: 0.2;
  }
  
  .md-button:active::before {
    opacity: 0.32;
  }
  
  .md-button:disabled::before {
    opacity: 0;
  }
  
  .md-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 18px;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
  }
  
  .md-button:active::after {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
  }
  
  .md-button:disabled::after {
    opacity: 0;
  }

  .restaurant-list-wrapper {
    margin-top: 36px;
    margin: 10% 10% 10% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .restaurant-card {
    width: 25%;
    margin: 0 10px 32px;
    display: flex;
    flex-wrap: wrap;
    border: solid;
  }
  
  .restaurant-card p {
    text-align: left;
    color: #595959;
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-card h4 {
    display: flex;
    margin-right: 20%;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .restaurant-card h5 {
    margin-bottom: 0;
    margin-top: 0
  }
  
  .restaurant-card p {
    border: solid;
    display: inline;
    margin-left: 20px;
  }

  .restaurant-list-image {
    width: 100%;
    max-height: 50%;
    min-height: 50%;
    border: 1px solid lightgray;
  }
